<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>编辑菜单 - 光年(Light Year Admin)后台管理系统模板</title>
  <template th:replace="/admin/common/header" />
<!--标签插件-->
<link rel="stylesheet" href="/js/jquery-tags-input/jquery.tagsinput.min.css">
</head>
  
<body style="background-image: url('/images/homebackground4.jpg'); background-size: cover;">
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    <template th:replace="/admin/common/left-menu"/>
    <!--End 左侧导航-->

    <!--头部信息-->
    <template th:replace="/admin/common/header-info"/>
    <!--End 头部信息-->

    <!--页面主要内容-->
    <main class="lyear-layout-content">
      
      <div class="container-fluid">
        
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                
                <form action="#!" method="post" class="row" id="menu-edit-form">
                  <input type="hidden" name="id" th:value="${editMenu.id}" />
                  <input type="hidden" name="createTime" th:value="${editMenu.createTime}" />
                  <div class="form-group col-md-12">
                    <label for="parentId">上级菜单</label>
                    <div class="form-controls">
                      <select name="parentId" class="form-control" id="parentId">
                        <option value="0">请选择上级菜单</option>
                        <option th:text="${menu.name}" th:value="${menu.id}" th:each="menu : ${menuList}" th:selected="${editMenu.parentId == menu.id}"></option>
                      </select>
                    </div>
                  </div>
                  <div class="input-group m-b-10">
                    <span class="input-group-addon">菜单名称</span>
                    <input type="text" class="form-control required" id="name" name="name" th:value="${editMenu.name}" placeholder="请输入菜单名称" tips="请填写菜单名称" />
                  </div>
                  <div class="input-group m-b-10">
                    <span class="input-group-addon">菜单URL</span>
                    <input type="text" class="form-control" id="url" name="url" th:value="${editMenu.url}" placeholder="请填写菜单url" />
                  </div>
                  <div class="input-group m-b-10">
                    <span class="input-group-addon">菜单icon</span>
                    <input type="text" readonly="readonly" class="form-control required" id="icon" name="icon" th:value="${editMenu.icon}" placeholder="请输入菜单icon" tips="请选择菜单icon" />
                    <span class="input-group-btn">
                      <button class="btn btn-primary" id="show-icons-btn" data-toggle="modal" data-target="#icons-panel" type="button">点击选择</button>
                    </span>
                  </div>
                  <div class="input-group m-b-10">
                    <span class="input-group-addon">排序</span>
                    <input type="number" class="form-control" id="sort" name="sort" th:value="${editMenu.sort}" />
                  </div>
                  <div class="input-group m-b-10">
                    是否按钮：
                    <label class="lyear-radio radio-inline radio-primary">
                      <input type="radio" name="isButton" value="true" th:checked="${editMenu.isButton}"/>
                      <span>是</span>
                    </label>
                    <label class="lyear-radio radio-inline radio-primary">
                      <input type="radio" name="isButton" value="false" th:checked="! ${editMenu.isButton}"/>
                      <span>否</span>
                    </label>
                  </div>
                  <div class="input-group m-b-10">
                    是否显示：
                    <label class="lyear-radio radio-inline radio-primary">
                      <input type="radio" name="isShow" value="true" th:checked="${editMenu.isShow}">
                      <span>是</span>
                    </label>
                    <label class="lyear-radio radio-inline radio-primary">
                      <input type="radio" name="isShow" value="false" th:checked="! ${editMenu.isShow}" >
                      <span>否</span>
                    </label>
                  </div>

                  <div class="form-group col-md-12">
                    <button type="button" class="btn btn-primary ajax-post" target-form="edit-form" id="edit-form-submit-btn">确 定</button>
                    <button type="button" class="btn btn-default" onclick="javascript:history.back(-1);return false;">返 回</button>
                  </div>
                </form>
       
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
      
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<template th:replace="/admin/common/footer" />
<template th:replace="/admin/common/icons"/>
<!--标签插件-->
<script src="/js/jquery-tags-input/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/js/main.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    //图标icon选择后的确认按钮事件
    $("#confirm-icon-btn").click(function(){
      getSelectedIcon();
    });
  });
  function getSelectedIcon(){
    $("#icon").val($(".selected-icon").attr('val'));
    $("#icons-panel").modal('hide');
  }

  //提交按钮监听事件
  $("#edit-form-submit-btn").click(function(){
    if(!checkForm("menu-edit-form")){
      return;
    }
    var data = $("#menu-edit-form").serialize();
    $.ajax({
      url:'/menu/edit',
      type:'POST',
      data:data,
      dataType:'json',
      success:function(data){
        if(data.code == 0){
          showSuccessMsg('菜单编辑成功!',function(){
            window.location.href = '/menu/list';
          })
        }else{
          showErrorMsg(data.msg);
        }
      },
      error:function(data){
        alert('网络错误!');
      }
    });
  });
</script>
</body>
</html>